apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{.AgentID}}
  labels:
    app: {{.AgentID}}
    forge.initializ.ai/version: "{{.Version}}"
    {{- if .EgressProfile}}
    forge.initializ.ai/egress-profile: "{{.EgressProfile}}"
    {{- end}}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{.AgentID}}
  template:
    metadata:
      labels:
        app: {{.AgentID}}
        {{- if .EgressProfile}}
        forge.initializ.ai/egress-profile: "{{.EgressProfile}}"
        {{- end}}
    spec:
      containers:
        - name: {{.AgentID}}
          image: {{.Runtime.Image}}
          {{- if .Runtime.Port}}
          ports:
            - containerPort: {{.Runtime.Port}}
          {{- end}}
          {{- if or .Runtime.Env .RequiredEnvVars .OptionalEnvVars}}
          env:
            {{- range $key, $val := .Runtime.Env}}
            - name: {{$key}}
              value: "{{$val}}"
            {{- end}}
            {{- range .RequiredEnvVars}}
            - name: {{.}}
              valueFrom:
                secretKeyRef:
                  name: {{$.AgentID}}-secrets
                  key: {{.}}
            {{- end}}
            {{- range .OptionalEnvVars}}
            - name: {{.}}
              valueFrom:
                secretKeyRef:
                  name: {{$.AgentID}}-secrets
                  key: {{.}}
                  optional: true
            {{- end}}
          {{- end}}
